fieldset {
  border: 1px solid #E1E1E1;
  padding: 10px;
}

legend {
  border: 1px solid #E1E1E1;
  color: #898989;
  font-size: 10px;
  font-family: "Tahoma", "Lucida Grande", sans-serif;
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
}

#addstocks{
  margin-right: 0;
  margin-bottom: 10px;
  float: right;
}

#stocks{
  margin-top: 20px;
  color: #000;
}

#stocks a{
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

#stocks li{
  margin-top: 5px;
}

#stocks h4{
  display: inline;
}

#stocks .delete{
  bottom: 1px;
  color: red;
  cursor: pointer;
  float: right;
  position: relative;
}

.description{
  font-size: 11px;
  font-style: italic;
  color: #999;
}

#stock tr td, #stock tr th {
  min-width: 15%;
  vertical-align: middle;
}

#stock tr th:last-child {
  min-width: 25%;
}

#modalcontainer {
  width: 750px;
}

.error{
  color: red;
}

/*.hiddenCheckbox {
  left: 0 !important;
  position: static !important;
}*/

.featured{
  width: 55%;
  float: left;
}

#flashsaleinfo.enabled {
  background: #EBEBEB;
  color: #090;
}

form p.combined input.featured {
  margin: 5px 10px 0 0;
}

span.medium {
  width: 50%;
  display: block;
  float: left;
  margin: -10px 0 5px;
}

#dropbox .preview {
  cursor: pointer;
  padding: 10px 0 15px;
}

.ui-selected, .ui-selecting{
  background-color: #497EAC;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6BA0CE), to(#497EAC));
  background-image: -webkit-linear-gradient(top, #6BA0CE, #497EAC);
  background-image: -moz-linear-gradient(top, #6BA0CE, #497EAC);
  background-image: -o-linear-gradient(top, #6BA0CE, #497EAC);
  background-image: -ms-linear-gradient(top, #6BA0CE, #497EAC);
  background-image: linear-gradient(top, #6BA0CE, #497EAC);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#6ba0ce', EndColorStr='#497eac');
}

#dropbox { 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#dropbox .preview .color-preview {
  
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  bottom: 12px;
  right: 13px;
}
#btn-bulk-update {
  position: relative;
}

#form-bulk-update #span-bulk-update {
  /*position: absolute;*/
  top: 0px;
  left: 0px;
  z-index: 1;
}

#form-bulk-update #file-bulk-update {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: right;
  -moz-opacity:0 ;
  filter:alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
  display: block;
  width : 100%;
  height : 100%;
}

#advance-search {
  border: 1px solid #EBEBEB;
  margin-bottom: 10px;
}

#advance-search legend {
  cursor: pointer;
}

#advance-search form {
  display: none;
}

#advance-search label {
  display: block;
  line-height: 25px;
  float: left;
  position: relative;
  width: 310px;
}

#advance-search input, #advance-search select {
  float: right;
  height: 25px;
  line-height: 20px;
  margin-right: 20px;
  width: 200px;
}

#advance-search select {
  line-height: 15px;
}

#advance-search .submit {
  float: none;
  margin-left: 420px;
  margin-top: 10px;
  margin-right: 5px;
  width: 150px;
}

#advance-search .row {
  margin-bottom: 5px;
  overflow: hidden;
}

#advance-search .waiting {
  display: none;
  position: relative;
  top: 11px;
}

#advance-search .calendar {
  position: absolute;
  right: 25px;
  top: 5px;
}

.toggle {
  font-size: 14px;
}